﻿
@{
  ViewData["Title"] = "Add New Member";
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
  label {
    color: #2699FB !important;
  }

  .red {
    color: red;
  }
</style>

<div class="page-content">

  <div class="wizard-v1-content">
    <div class="wizard-form">
      <form class="form-register" id="form-register" action="#" method="post">
        <div id="form-total">
          <!-- SECTION 1 -->
          <h2>
            <span class="step-icon"><i class="zmdi zmdi-account"></i></span>
            <span class="step-number">Step 1</span>
            <span class="step-text">REGISTRATION</span>

          </h2>
          <section>
            <div class="inner">

              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Membership Origin</label><span class="red">*</span>
                    <select class="form-control" id="ddlMembershipOrigin">
                      <option selected>SELECT</option>
                      <option>INDONESIA</option>
                      <option>MALAYSIA</option>
                      <option>MYANMAR</option>
                      <option>SINGAPORE</option>
                    </select>
                  </div>
                </div>


              </div>


              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Country Of Citizenship</label><span class="red">*</span><i class="fa fa-question-circle" title="Citizenship includes permanent Resident status" aria-hidden="true"></i>
                    <select class="form-control" id="ddlCountryOfCitizenship">
                      <option selected>SELECT</option>
                      <option>INDONESIA</option>
                      <option>MALAYSIA</option>
                      <option>MYANMAR</option>
                      <option>SINGAPORE</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-12">
                  <!-- checkbox -->
                  <div class="form-group">
                    <div class="icheck-blue d-inline">
                      <input type="checkbox" id="chkForPR">
                      <label for="chkForPR">
                        I Have PR.
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Membership Type</label><span class="red">*</span>
                    <select class="form-control" id="ddlMembershipType">
                      <option>SELECT</option>
                      <option>eMember</option>
                      <option>Individual Distributor</option>
                      <option>Couple Distributor</option>
                      <option>Corporate Distributor</option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="row mb-2" id="divBE">
                <div class="col-sm-12">
                  <!-- checkbox -->
                  <div class="form-group">
                    <div class="icheck-blue d-inline">
                      <input type="checkbox" id="chkBusinessEntity">
                      <label for="chkBusinessEntity" id="lblBE">
                        Register As Business Entitiy <div id="divSdn"> <small>Sdn Bhd only</small></div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Email Address</label><span class="red">*</span><i class="fa fa-question-circle" title="Login Credential will be sent to your Email." aria-hidden="true"></i>
                    <input type="email" placeholder="Your Email" class="form-control" id="txt_member_email" name="email">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Retype Email Address</label><span class="red">*</span>
                    <input type="email" placeholder="Your Email" class="form-control" id="txt_retype_member_email" name="email">
                    <br /><span class="red" id="retypeError" style="display:none"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Mobile Number</label><span class="red">*</span>
                    <br />
                    <div class="row">
                      <div class="col-sm-4">
                        <input type="number" placeholder="Mobile Number" maxlength="4" class="form-control" id="txt_member_mobile_Number" name="txt_member_mobile_Number">
                      </div>
                      <div>
                        -
                      </div>
                      <div class="col-sm-7">
                        <input type="number" placeholder="Mobile Number" maxlength="9" class="form-control" id="txt_member_mobile_Number_2" name="txt_member_mobile_Number_2">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Full Name</label><span class="red">*</span>
                    <input type="text" placeholder="Your Full Name" maxlength="40" class="form-control" id="txt_Full_Name" name="txt_Full_Name">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Gender</label><span class="red">*</span>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group clearfix">
                    <div class="icheck-primary d-inline">
                      <input type="radio" id="rdGenderM" name="rdGender">
                      <label for="rdGenderM">
                        Male
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="icheck-primary d-inline">
                    <input type="radio" id="rdGenderF" name="rdGender">
                    <label for="rdGenderF">
                      Female
                    </label>
                  </div>
                </div>

              </div>
              <div class="row" id="divEth">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Ethinicity</label><span class="red">*</span>

                  </div>
                </div>
              </div>

              <div class="row" id="divEth2">
                <div class="col-sm-3">
                  <div class="form-group clearfix">
                    <div class="icheck-primary d-inline">
                      <input type="radio" id="rdMalay" name="rdeth">
                      <label for="rdMalay">
                        MALAY
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="icheck-primary d-inline">
                    <input type="radio" id="rdChiness" name="rdeth">
                    <label for="rdChiness">
                      CHINESE
                    </label>
                  </div>
                </div>

              </div>
              <div class="row" id="divEth3">
                <div class="col-sm-3">
                  <div class="form-group clearfix">
                    <div class="icheck-primary d-inline">
                      <input type="radio" id="rdIndian" name="rdeth">
                      <label for="rdIndian">
                        INDIAN
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="icheck-primary d-inline">
                    <input type="radio" id="rdOthers" name="rdeth">
                    <label for="rdOthers">
                      OTHERS
                    </label>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Date of Birth</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                      </div>
                      <input type="date" class="form-control" name="txt_Member_Date_OF_Birth" id="txt_Member_Date_OF_Birth">
                    </div>
                    <!-- /.input group -->
                  </div>
                </div>
              </div>

              <div class="row" id="divGuardian">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Guardian Name</label><span class="red">*</span>
                    <input type="text" placeholder="Guardian Name" class="form-control" id="txt_guardian_name" name="txt_guardian_name">
                  </div>
                </div>
              </div>
              <div class="row" id="divGuardian2">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Relationship</label><span class="red">*</span>
                    <select class="form-control" id="ddlApplicantRelationship">
                      <option>SELECT</option>
                      <option>Father</option>
                      <option>Mother</option>
                      <option>Sibiling</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" id="divGuardian3">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Guardian Identity Card / Passport Number</label><span class="red">*</span>
                    <input type="text" placeholder="Guardian Identity Card / Passport Number" class="form-control" id="txt_Guardian_Identity_Card" name="txt_Guardian_Identity_Card">
                  </div>
                </div>
              </div>

              <div class="row" id="divGuardian4">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Guardian Contact Number</label><span class="red">*</span>
                    <input type="text" placeholder="Guardian Contact Number" class="form-control" id="text_guardian_contact_number" name="text_guardian_contact_number">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Applicant Identity Type</label><span class="red">*</span>
                    <select class="form-control" id="ddlApplicantIdentityType">
                      <option>SELECT</option>
                      <option>National ID</option>
                      <option>Passport</option>
                      <option>Permanent Residence ID</option>
                      <option>Policy ID</option>
                      <option>Military ID</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Identity Card Number</label><span class="red">*</span>
                    <input type="text" placeholder="Identity Card Number" class="form-control" id="txt_Identity_Card_Number" name="txt_Identity_Card_Number">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Address - 1</label><span class="red">*</span>
                    <input type="text" class="form-control" id="txt_Address1" maxlength="35" name="txt_Address1">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Address - 2</label><span class="red">*</span>
                    <input type="text" class="form-control" id="txt_Address2" maxlength="35" name="txt_Address2">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Address - 3</label><span class="red">*</span>
                    <input type="text" class="form-control" id="txt_Address3" maxlength="35" name="txt_Address3">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Town/City</label><span class="red">*</span>
                    <input type="text" class="form-control" id="txt_Town" maxlength="25" name="txt_Town">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">State / Province</label><span class="red">*</span>
                    <input type="text" class="form-control" id="txt_State" name="txt_State">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Postal Code</label><span class="red">*</span>
                    <input type="text" class="form-control" id="txt_Postal" name="txt_Postal">
                  </div>
                </div>
              </div>

              <div class="row" id="divRukun">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Rukun Tetangga (RT)</label>
                    <input type="text" class="form-control" maxlength="3" id="txt_Rukun" name="txt_Rukun">
                  </div>
                </div>
              </div>

              <div class="row" id="divRW">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Rukun Warga (RW)</label>
                    <input type="text" class="form-control" maxlength="3" id="txt_RW" name="txt_RW">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Language Preference</label><span class="red">*</span>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group clearfix">
                    <div class="icheck-primary d-inline">
                      <input type="radio" id="rdBhasa" name="r6" checked="">
                      <label for="rdBhasa">
                        BAHASA MALAYSIA
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="icheck-primary d-inline">
                    <input type="radio" id="rdEnglish" name="r6">
                    <label for="rdEnglish">
                      ENGLISH
                    </label>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group clearfix">
                    <div class="icheck-primary d-inline">
                      <input type="radio" id="rdChiness" name="r6" checked="">
                      <label for="rdChiness">
                        CHINESE
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-sm-12">
                  <!-- checkbox -->
                  <div class="form-group">
                    <div class="icheck-blue d-inline">
                      <input type="checkbox" id="chkAddSpouse">
                      <label for="chkAddSpouse">
                        Add Spouse
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row spouse">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Spouse Full Name (As per Official Document)</label>
                    <input type="text" class="form-control" id="txt_Spouse_Full_Name" name="txt_Spouse_Full_Name">
                  </div>
                </div>
              </div>
              <div class="row spouse">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Nationality</label><span class="red">*</span>
                    <select class="form-control" id="ddlNationality">
                      <option>SELECT</option>
                      
                    </select>
                  </div>
                </div>
              </div>

              <div class="row spouse">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Date of Birth</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                      </div>
                      <input type="date" class="form-control" id="txt_SpouseDateOfBirth">
                    </div>
                    <!-- /.input group -->
                  </div>
                </div>
              </div>

              <div class="row spouse">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Ethinicity</label><span class="red">*</span>

                  </div>
                </div>
              </div>

              <div class="row spouse">
                <div class="col-sm-3">
                  <div class="form-group clearfix">
                    <div class="icheck-primary d-inline">
                      <input type="radio" id="rdSpMalay" name="rdspouseEthenicity" checked="">
                      <label for="rdMalay">
                        MALAY
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="icheck-primary d-inline">
                    <input type="radio" id="rdSpChiness" name="rdspouseEthenicity">
                    <label for="rdChiness">
                      CHINESE
                    </label>
                  </div>
                </div>

              </div>
              <div class="row spouse">
                <div class="col-sm-3">
                  <div class="form-group clearfix">
                    <div class="icheck-primary d-inline">
                      <input type="radio" id="rdSpIndian" name="rdspouseEthenicity" checked="">
                      <label for="rdIndian">
                        INDIAN
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="icheck-primary d-inline">
                    <input type="radio" id="rdSpOthers" name="rdspouseEthenicity">
                    <label for="rdOthers">
                      OTHERS
                    </label>
                  </div>
                </div>

              </div>


              <div class="row spouse">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Spouse Identity Type</label><span class="red">*</span>
                    <select class="form-control" id="ddlSpouseIdentityType">
                      <option>SELECT</option>
                      <option>National ID</option>
                      <option>Passport</option>
                      <option>Permanent Residence ID</option>
                      <option>Policy ID</option>
                      <option>Military ID</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row spouse">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Identity Card Number</label><span class="red">*</span>
                    <input type="text" class="form-control" id="txt_Identity_Card_Number" name="txt_Identity_Card_Number">
                  </div>
                </div>
              </div>


              <div class="row spouse">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">Mobile Number</label> 
                    <br />
                    <div class="row">
                      <div class="col-sm-4">
                        <input type="number" placeholder="Mobile Number" maxlength="4" class="form-control" id="txt_spouse_Mobile_Number" name="txt_spouse_Mobile_Number">
                      </div>
                      <div>
                        -
                      </div>
                      <div class="col-sm-7">
                        <input type="number" placeholder="Mobile Number" maxlength="9" class="form-control" id="txt_spouse_Mobile_Number2" name="txt_spouse_Mobile_Number2">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- SECTION 2 -->
          <h2>
            <span class="step-icon"><i class="zmdi zmdi-card"></i></span>
            <span class="step-number">Step 2</span>
            <span class="step-text">SPONSORING</span>
          </h2>
          <section>
            <div class="inner">
              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">
                    <label for="username">SPONSOR</label><span class="red">*</span>
                    <select class="form-control" id="ddlSponsor">
                      <option>Jon - Doe 33388888 [Active]</option>

                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <!-- select -->
                  <div class="form-group">

                    <img src="~/asset/dist/img/Capture.PNG" />
                  </div>
                </div>
              </div>




            </div>
          </section>
          <!-- SECTION 3 -->
          <h2>
            <span class="step-icon"><i class="zmdi zmdi-receipt"></i></span>
            <span class="step-number">Step 3</span>
            <span class="step-text">T&C</span>
          </h2>
          <section>
            <div class="inner">
              <h3>Comfirm Details</h3>
              <div class="row">
                <div class="col-12">
                  <div class="card card-primary card-outline card-tabs">
                    <div class="card-header p-0 pt-1 border-bottom-0">
                      <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill" href="#custom-tabs-two-home" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">APPROVED</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill" href="#custom-tabs-two-profile" role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false" style="color:#FFCCCC"><b>DECLINED</b></a>
                        </li>

                      </ul>
                    </div>
                    <div class="card-body">
                      <div class="tab-content" id="custom-tabs-two-tabContent">
                        <div class="tab-pane fade show active" id="custom-tabs-two-home" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Name</th>
                                <th>Terms & Conditions</th>
                                <th style="width: 20px">#</th>
                              </tr>
                            </thead>
                            <tbody id="tbodyApproved">
                             

                            </tbody>
                          </table>
                        </div>
                        <div class="tab-pane fade" id="ccustom-tabs-two-home" role="tabpanel" aria-labelledby="custom-tabs-two-profile-tab">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Name</th>
                                <th>Terms & Conditions</th>
                                <th style="width: 20px">#</th>
                              </tr>
                            </thead>
                            <tbody id="tbodydeclined">
                              

                            </tbody>
                          </table>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <center><a href="#" style="font-size:small;color:#2699FB">CREATE NEW APPLICATION</a></center>
                        </div>

                      </div>
                    </div>
                    <!-- /.card -->
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- SECTION 4 -->
          <h2>
            <span class="step-icon"><i class="zmdi zmdi-receipt"></i></span>
            <span class="step-number">Step 4</span>
            <span class="step-text">CHECKOUT</span>
          </h2>
          <section>
            <div class="inner text-center">


              <img src="~/asset/dist/img/checkout.PNG" />
            </div>
          </section>
        </div>
      </form>
    </div>
  </div>
</div>


<script src='@String.Format("{0}?dt={1}",Url.Content("~/js/pageJS/AddNewMember.js"),DateTime.Now.Ticks)' type='text/javascript'></script>
