﻿
@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/asset/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="~/asset/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/asset/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
  <input type="hidden" id="hdnLoginPK"/>
  <div class="loader" id="loader" style="display:none;"></div>
  <div class="login-box">

    <!-- /.login-logo -->
    <div class="card">
      <div class="login-logo" style="background-color:#2699FB;">
        <a href="#" style="color:white" class="text-center"><b>WELCOME TO <br /> SHAUNG HOR</b></a>
      </div>
      <div class="card-body login-card-body">

        <div class="text-center mb-4"><img src="~/images/icon-logo-sh.png" class="rounded" /></div>
        
        <div class="input-group">
          <label id="lblerror" style="display:none" class="text-danger"></label>
 
        </div>

        <div class="input-group mb-3">
          <input type="text" id="txtusername" class="form-control" placeholder="Email" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
          <div class="input-group">
            <label id="lblerror1" style="display:none" class="text-danger"></label>
            </div>
          </div>

        <div class="input-group">

          <input type="password" id="txtPassword" class="form-control" placeholder="Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <div class="input-group">
            <label id="lblerror2" style="display:none" class="text-danger"></label>
          </div>
        </div>
          <div class="row mb-3">

            <!-- /.col -->
            <div class="col-md-12 text-right">
              <a href="#">Forgot Password</a>
            </div>
            <!-- /.col -->
          </div>
          <div class="row">

            <!-- /.col -->
            <div class="col-12">
              <button type="submit" id="btnlogin" class="btn btn-primary btn-block">Login</button>
            </div>
            <!-- /.col -->
          </div>

          <!-- /.social-auth-links -->


          <div class="row">

            <!-- /.col -->
            <div class="col-12 text-center mt-2">
              <a href="#" class="text-center">NOT A MEMBER? SIGN UP HERE ! </a>
            </div>
            <!-- /.col -->
          </div>
        </div>
        <!-- /.login-card-body -->
      </div>
  </div>
  <!-- /.login-box -->
  <!-- jQuery -->
  <script src="~/asset/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src=".~/asset/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="~/asset/dist/js/adminlte.min.js"></script>

  <!-- Login JS App -->
  <script src='@String.Format("{0}?dt={1}",Url.Content("~/js/pageJS/Login.js"),DateTime.Now.Ticks)' type='text/javascript'></script>

</body>
</html>
